@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;700&display=swap');

h1{
  text-align: center;
	margin: 50px 50px 50px 50px;
}
h1 a{
  color:#f0ccc9;
  text-decoration: none;
}

h1, h2, h3, h4{
  font-family: 'Josefin Sans', sans-serif;
}

h2{
  font-size: 40px;
}

p {
  color: black;
  font-family: Verdana;
    
}

h3 {
  color: black;
  text-align: left;
  margin: 13px 13px 13px 13px;
}

body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  
  background-attachment: fixed;
  background-size: cover;
}

header{
  background-color: black;
  margin: 0;
}
.nav-items{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  margin: 0;
  padding: 0;
}

.nav-item{
  margin-right: 5vw;
  transition: 0.3s;
}
.nav-item:hover{
  transform: scale(1.2);
}

.nav-item a{
  color: white;
  text-decoration: none;
}

.nav-item:nth-child(3):hover{
  transform: none;
}

.nav-item:nth-child(5){
  margin:0;
}

.wrap {
  padding: 40px 0; 
  max-width: 900px;
  margin: 0 auto;
}    

.tabs__items {
  display: flex;
}

.tabs__item {
  flex: 25%; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  z-index: 2;
}

.tab__box {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}

.tab__box:target {
  display: flex;
}
.tab__box:before {
  content: "";
  height: 50px;
  width: 25%;
  position: absolute;
  top: -50px;
}    
.tab__box:nth-child(1) {
  background-color: #3fc1c9;
}
.tab__box:nth-child(1):before {
  background-color: #3fc1c9;
  left: 0;
}
.tab__box:nth-child(2) {
  background-color: #fc5185;
}
.tab__box:nth-child(2):before {

  
  background-color: #fc5185;
  left: 25%;
}
.tab__box:nth-child(3) {
  background-color: #3fc1c9;
}
.tab__box:nth-child(3):before {
  background-color: #3fc1c9;
  right: 25%;
}
.tab__box:nth-child(4) {
  background-color: #fc5185;
}
.tab__box:nth-child(4):before {
  background-color: #fc5185;
  right: 0;
} 

tabs__item span {
  position: relative;
  z-index: 2;
}    


/*
siin algab menuu
$unit-pisike : 4px;
$unit-suur: 32px;
$unit-põhiline: #598596;
 
.ümbris {
  padding: 2em 1em;  
  columns: 100px 2;
  column-gap: $unit-large;
}

element {
  border-bottom: 1px dotted #c5c5c5;
  break-inside: avoid;
  display: flex;
  justify-content: space-between;
}

intervaal1 {
  font-family: "Teko", sans-serif;
  margin-bottom: -$unit-tiny;
  background: #fff;
  padding: $unit-tiny;
  color: #c5c5c5;

}

.list-title {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: $primary-color;
  margin-bottom: $unit-large;
}
.list {
  margin-bottom: $unit-large;
}



