* {
  box-sizing: border-box;
}

.column {
  padding: 40px;
}

.left {
  width: 40%;
}

.right {
  float:right;
  width:60%;
}

h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  border-bottom: 2px solid #bb9f5d;
  
}

h1{
  text-align:center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2vw
}

p{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1vw;
  
}

.slaid {display: none}
.img {vertical-align: middle;}




  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
  }

.auhinnad{ 
  padding:100px;
  text-align: center;
}





 



