main{
    margin: 0 auto;
    width: 85vw;
}

h1, h2, h3, h4{
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-size: 40px;
}

header{
    background-color: black;
    margin: 0 0 5vh;
}

.row{
    display: flex;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24%;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

.meeskond{
  display: flex;
  flex-wrap: nowrap;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.about-us{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 10px solid #d7b065;
    padding: 40px;
    margin: 0 0 20vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;
}

.about-us:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}