.column {
    float: left;
    padding: 10;
}
  
.left {
    width: 60%;
}
  
.right {
    width: 30%;
}

h1, h2, h3, p{
    text-align:center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2vw
}

h1:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 7%;
    border-bottom: 2px solid #bb9f5d;
}

h2:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    border-bottom: 2px solid #bb9f5d;
}

h3:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    border-bottom: 2px solid #bb9f5d;

}

p{
    font-size: 1vw;
}

.gmaps{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
  
.gmaps iframe{
    left: 30px;;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
